:root {
    --size: 50vmin;
    --white: #fff;
    --blue: #3051f1;
    --purple: #c92bb7;
    --red: #f73344;
    --orange: #fa8e37;
    --yellow: #fcdf8f;
    --yellow_to: #fbd377;
  }



.outer-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    
    
}

.inner-circle{
    width: 9.5vh;
    height: 9.5vh;
    border-radius: 50%;
}

.whole-story{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.circle-profilepic{
    width:  9.5vh;
    height: 9.5vh;
    border-radius: 50%;
}

.story-name{
    padding-left: 25%;
}

#friend{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

#best-friend{
    background-color: #29d912;
}

#me{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}
