@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

Body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
}

.screen{
    margin:0 20% 0 20% ;
    max-width: 800px;
    width: 100%;
    position: relative;
}

.story-section{
    border-bottom: 0.5px solid;
    border-color: #6E7A75;
    display: flex;
    overflow-x: scroll;
    /*justify-content: space-around;*/
}

.story-section::-webkit-scrollbar{
    display: none;
}


.upper-partn{
    height: 90%;
}

.lower-partn{
    height: 8%;
    border-top:  solid 0.5px;
    border-color:  #6E7A75;
    position: fixed;
    bottom: 0;
    max-width: inherit;    
    width: 100%;
    background-color: black;
}
